<%= render "shared/navbar" %>
<div class="container mt-5">
  <h2 class="text-center">Create New Playlist</h2>
  <%= form_for(:playlist,:url => new_playlists_path, local: true, data: { turbo: false }) do |f|%>
    <%= render "shared/formerrorsplaylist" %>
    <div class="mb-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Playlist Title" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control", placeholder: "Description of Playlist" %>
    </div>
    <div class="field">
      <%= f.label "Public" %>
      <%= f.check_box :is_public %>
    </div>
    <%= f.submit "Create Playlist", class: "btn btn-info btn-lg btn-block mt-3"%>
  <%end%>
</div>